/* Global App styling */
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* Chatbot container - positions the chatbot fixed in the bottom-right corner */
.Chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

button.Chatbot-open-toggle {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

button.Chatbot-open-toggle:hover {
  transform: translateY(-3px); /* Slight lift effect on hover */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}
