/* Global App styling */
.App {
  text-align: center;
  background-color: #eeeeee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* Chatbot container - positions the chatbot fixed in the bottom-right corner */
.Chatbot-container {
  z-index: 1000;
  position: relative;
}

button.Chatbot-open-toggle {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
}
